.start-measure{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 504px;
  height: 640px;
  &-text{
    &-title{
      font-size: larger;
      margin-bottom: 5px;

    }
    &-simple{
      margin-left: 10px;
      margin-bottom: 10px;
    }

    &-control {
      margin-bottom: 10px;
      /*display: flex;
      justify-content: end;*/
    }
  }

  &-action{
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
  }

  &-result{
    position: absolute;
    bottom: 70px;
  }
}

.measure-description{
  display: flex;
  align-items: center;
  margin-top: -2px;



  &--text {
    margin-right: 10px;
  }
}

.start-measure-text-control-description{
  margin-top: 27px;
}