# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.AppServer.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Dima\Desktop\AppServer\.idea\.idea.AppServer.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
